@charset "UTF-8";


body{
  width: 1920/2px;
  height: 3198/2px;
  font-family: 'Kosugi Maru', sans-serif;
  background-size: 60px 60px;  
  /* margin: 0 auto; */
  background-color: #FCE373;
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, transparent 30%), radial-gradient(rgba(255, 255, 255, 0.5) 30%, transparent 30%);
  background-position: 0 0, 30px 30px;
  }

main{
  margin: 50px 100px;
  background: #FCE373 0% 0% no-repeat padding-box;
  border: 9px solid #A5D1F4;
  border-radius: 97px;
}

a:link { color: #A5D1F4; }
a:visited { color: #A5D1F4; }
a:hover { color: #A5D1F4; }
a:active { color: #A5D1F4; }

nav{
  font-size: 42px;
  margin-top: 50px;
  margin-left: 30px;
  background-color: #FCE373;
  border-radius: 30px;
  width: 20%;
  height: 80px;
  text-align: center;
  line-height:80px;
  letter-spacing: 2.77px;
  color: #A5D1F4;
  opacity: 1;
  display: inline-block;
  transition: 3s;
}

nav:hover{

  transform: rotate(1turn);

}

h1{
  /* width: 360px;
  /* height: 396/4px;

  background: transparent url('img/タイトル.png') 0% 0% no-repeat padding-box;
  opacity: 1; */
  max-width: 100%;
  
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px; 
}
/* -------------header------------ */

h2{
  font-size: 50px;
  text-align: center;
  letter-spacing: 2.38px;
  color: #A5D1F4;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-area{
  margin-bottom: 100px;
}

.plofile-box p{
  font-size: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: 2.38px;
  color: #A5D1F4;
  opacity: 1;  
  margin-bottom: 10px;
}
/* -------------profile------------ */



/* .photos{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 27%;
  padding-left: 27%;   
   width: 50%; 

} */


/* .photos img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-bottom: 15px; 
}  */


figure img:hover{
  filter: blur(10px)
}


.fovorite-area h3,p{
  width: 100%;
  /* text-align: center; */
  letter-spacing: 2.38px;
  color: #A5D1F4;
  opacity: 1;  
  margin-bottom: 10px;
}

.fovorite-area h3{
  font-size: 40px;
}
.fovorite-area p{
  font-size: 25px;
}

/* -------------favorite------------ */

.cp_cssslider {
	width: 900px;
	height: 600px;
	overflow: hidden;
	margin: 2em auto;
}
.cp_slide_item {
	width: 900px;
	height: 600px;
	float: left;
	position: relative;
}
.photos {
	width: 600%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 20s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	40% {
	-webkit-transform: translateX(-1800px);
	transform: translateX(-1800px);
	}
	60% {
	-webkit-transform: translateX(-2700px);
	transform: translateX(-2700px);
	}
	80% {
	-webkit-transform: translateX(-3600px);
	transform: translateX(-3600px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	40% {
	-webkit-transform: translateX(-1800px);
	transform: translateX(-1800px);
	}
	60% {
	-webkit-transform: translateX(-2700px);
	transform: translateX(-2700px);
	}
	80% {
	-webkit-transform: translateX(-3600px);
	transform: translateX(-3600px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}